{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 18rem;">
{#        <img src="..." class="card-img-top" alt="...">#}
        <img src="{{ omdb_get_poster(movie) }}" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ movie.releaseDate|date('d/m/Y') }}</h6>
            <p class="card-text">{{ movie.description }}</p>
{#            <a href="#" class="btn btn-primary">Go somewhere</a>#}
        </div>
    </div>
    <div>
        <h3></h3>
        <p></p>
    </div>

{% endblock %}