{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {{ dump() }}
        {%for movie in movies%}
            <li><a href="{{ path('app_movie_detail', {id: movie.id}) }}">{{ movie.title }}</a></li>
        {% else %}
            <li>Pas de films dans le catalogue.</li>
        {% endfor %}
    </ul>
{% endblock %}